@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    margin: 0;
    padding: 0;
    list-style: none;
    word-break: keep-all;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    background: #0C5A4C;
    height: 4em;
}

header div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
    width: 70%;
    min-width: 1024px;
    height: 100%;
}

header h1 {
    margin-right: 3.5em;
    width: 38px;
    height: 38px;

}

header h1 a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../resources/logo.png) no-repeat 0 50%;
    background-size: contain;
    text-indent: -1000px;
    overflow: scroll;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

header a{
    font-size: 0.9em;
    color: #FFF;
}
